<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="myCS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\angyi\Documents\APU\SE Y1S2\IOOP\Tutorial\Manager asm\Manager asm\GGDB.mdf&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Manager_asm.Properties.Settings.GGDBConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\GGDB.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>